/* 예시 */

:root {
  --border-gray: #e4e4e4;

  --main-orange: #ff3d00;

  --main-pink: rgba(255, 123, 114, 1);
  --sub-darkgray: #949494;
  --background: #c4c4c4;

  --big-font: 700;
  --mid-font: 400;
}
